Package: moe.waru.tflowerinstall
Name: TFLowerInstall
Version: 1.0.0
Architecture: iphoneos-arm
Description: Bypass TestFlight OS version requirement checks to install builds targeting newer iOS versions.
Maintainer: waruhachi
Author: Little 34306
Section: Tweaks
Depends: mobilesubstrate
